<!DOCTYPE html>
<html lang="pl" ng-app="mgrnews">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MgrNews - ehhh</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/journal/bootstrap.min.css" />
  <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="public/main.css" />
  <!-- Google Analytics -->
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-122807436-1', 'auto');
    ga('send', 'pageview');

    (function() {
      if (!localStorage.unique_user_id) {
        var id = generateId();
        localStorage.setItem('unique_user_id', id);
        
        ga('set', 'userId', id);
        ga('send', 'event', 'unique_user', 'created_new')
      } else {
        console.info('userId', localStorage.getItem('unique_user_id'));
      }
    })()

    function generateId() {
      return '_' + Math.random().toString(36).substr(2, 9);
    }
  </script>
  <!-- End Google Analytics -->
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand mb-0 h1" href="#">
      <i class="mdi mdi-book-open-page-variant"></i> MgrNews
    </a>
    <div class="alert alert-dismissible alert-danger">
      <strong>Read this</strong>
      The page uses cookies to track user activity. All on purpose of master's thesis concerning Google Analytics tool.
    </div>
  </nav>

  <div class="container-fluid" ng-controller="rootCtrl">
    <section class="best-section" dynamic-ctrl="BEST_SECT.codename + 'Ctrl'">
      <div class="section-header">
        <h1 class="section-header-text">
          <i class="mdi mdi-{{ BEST_SECT.icon }}"></i> {{ BEST_SECT.displayTitle }}</h1>
      </div>
      <div class="articles">
        <div class="slider-wrapper">
          <slider slides="articles"></slider>
        </div>
        <div class="best-second-column">
          <article class="best-second-column-article" ng-repeat="a in articles | limitTo:4:5">
            <a href="{{ a.url }}" ng-click="sendGaClick($index, 'BestSecondColumnClick')">
              <div class="overlay"></div>
              <img ng-src="{{ a.urlToImage }}" alt="{{ a.title }}" title="{{ a.description }}" />
              <h2>{{ a.title }}</h2>
            </a>
          </article>
        </div>
      </div>
      <div class="under-best-row">
        <article class="under-best-article" ng-repeat="a in articles | limitTo:4:9">
          <a href="{{ a.url }}" ng-click="sendGaClick($index, 'UnderBestClick')">
            <img ng-src="{{ a.urlToImage }}" alt="{{ a.title }}" title="{{ a.description }}" />
            <h2>{{ a.title | limitTo:70 }}</h2>
          </a>
        </article>
      </div>
    </section>
    <div class="section-wrapper" ng-repeat="sect in SECTIONS">
      <section ng-class="{'{{ sect.codename }}': true }" dynamic-ctrl="sect.codename + 'Ctrl'">
        <div class="section-header">
          <h1 class="section-header-text">
            <i class="mdi mdi-{{sect.icon}}"></i> {{ sect.displayTitle }}</h1>
        </div>
        <div class="articles">
          <div class="main-articles-wrapper">
            <article class="main-article" ng-repeat="a in mainArticles">
              <a href="{{ a.url }}" ng-click="sendGaClick($index, 'MainRowArticleClick')">
                <div class="gradient"></div>
                <img ng-src="{{ a.urlToImage }}" alt="{{ a.title }}" class="main-article-image" title="{{ a.description}}" />
                <h2 class="main-article-title">{{ a.title }}</h2>
              </a>
            </article>
          </div>
          <div class="snapshots-wrapper">
            <article class="snapshot" ng-repeat="s in snapshots">
              <a href="{{ s.url }}" ng-click="sendGaClick($index, 'SnapshotRowArticleClick')">
                <img ng-src="{{ s.urlToImage }}" alt="{{ s.title }}" class="snapshot-image" title="{{ s.description}}" />
                <h2 class="snapshot-title">{{ s.title }}</h2>
              </a>
            </article>
          </div>
        </div>
      </section>
    </div>
    <!-- <div class="small-wrapper">
      <section class="small-section">

      </section>
      <aside class="weather-widget">

      </aside>
    </div> -->
  </div>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
  <script src="public/app.js"></script>
</body>

</html>
