<!-- globals: {{ slides }} -->
<div class="carousel-container">
    <article class="carousel-slide fadeSlide" ng-repeat="s in slides | limitTo:5" ng-show="currentSlide($index)">
        <a href="{{ s.url }}">
            <div class="gradient"></div>
            <img ng-src="{{ s.urlToImage }}" alt="{{ s.title }}" title="{{ s.description }}">
            <h2 class="caption-text">{{ s.title }}</h2>
        </a>
    </article>
    <a class="prev" ng-click="prevSlide()">&#10094;</a>
    <a class="next" ng-click="nextSlide()">&#10095;</a>
</div>
